
# Ignore node_modules
node_modules

# DB
dynamodb/

# Documentation
flows/

# Terraform
/volume
/infra/.terraform*
/infra/terraform.tfstate*

/infra/backend/.terraform*
/infra/backend/terraform.tfstate*

/infra/env/dev/.terraform*
/infra/env/dev/terraform.tfstate*
